<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>

	<h1>Upload Images</h1>

	<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	
	<br>
	<br>

	<form th:action="@{/uploadImages}" method="post" enctype="multipart/form-data">
		<input type="file" name="files" multiple>

		<input type="submit" value="Upload Files">
	</form>
	
	<br>
	<br>
	<a th:href="@{/indexPage}">Go back to main page</a>


</body>

</html>