<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>
    <h1>View and Hide Images Uploaded By User</h1>

    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
	<br>
	<br>
	<form th:action="@{/hideImageFromOthers}" method="post">
	       <table>
	           <thead>
	               <tr>
	                 <!--  <th>Image ID</th> -->
	                   <th>Image Name</th>
	                   <th>Action</th>
	                   <th>Is Hidden</th>
	                   <th>Select Hide/View</th>
	               </tr>
	           </thead>
	           <tbody>
	               <tr th:each="image : ${images}">
	                   <td hidden th:text="${image.id}"></td>
	                   <td th:text="${image.imageName}"></td>
	                   <td>
	                       <a th:href="@{/viewIndividualImageUploadedByUser(imageId=${image.id})}" class="btn">View</a>
	                   </td>
	                   <td th:text="${image.isHidden} ? 'Yes' : 'No'"></td>
	                   <td>
	                       <input type="checkbox" name="imageIds" th:value="${image.id}" />
	                   </td>
	               </tr>
	           </tbody>
	       </table>
	
	       <br>
	       <input type="submit" value="Hide / View Selected Images" />
	   </form>

	<br>
	<br>
    <a th:href="@{/indexPage}">Go back to main page</a>
</body>

</html>