<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>View Images For User Group</title>
</head>

<body>
    <h1>View All Images For User Group</h1>

    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
	<br>
	<br>
	
	<table>
	    <thead>
	        <tr>
	            <th>Image Name</th>
				<th>View Action</th>
				<th>Edit Action</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="image : ${images}">
	            <td hidden th:text="${image.id}"></td>
	            <td th:text="${image.imageName}"></td>
				<td>
				    <a th:href="@{/viewImagesByUserGroup(imageId=${image.id})}" class="btn">View</a>
				</td>
				<td>
				    <a th:href="@{/editImagesByUserGroup(imageName=${image.imageName})}" class="btn">Edit</a>
				</td>
	        </tr>
	    </tbody>
	</table>

	<br>
	<br>
    <a th:href="@{/indexPage}">Go back to main page</a>
</body>

</html>